body {
    background-color: rgb(255, 255, 255);
    margin: 20px;
    font-family: Arial, monospace, sans-serif;
}

h1 {
    padding: 10px;
    text-transform: uppercase;
}

h2,h3 {
    padding: 5px 15px;
}

h1,h2,h3{
    color: rgb(255, 255, 255);
    background-color: rgb(37, 37, 37);
}

p {
    margin-left: 2rem;
}

a {
    color: rgb(202, 65, 31);
}

table {
    margin: 20px;
    border-collapse: collapse;
}

th{
    color: rgb(255, 255, 255);
    background-color: rgb(37, 37, 37);
}

td,th {    
    padding: 5px;
    text-align: center;
    border: 1px solid #5e5e5e;
}

@media (max-width: 1200px) {
    table {
        margin: 20px auto;
    }
    h1,h2{
        text-align: center;
    }
  }