
body, h1, h2, h3, p, ul, li, table {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}


h2 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
}


h3 {
    color: #333;
    margin-top: 20px;
}


p {
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
}


a {
    color: #0077cc;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}


ul {
    list-style-type: disc;
    margin-left: 20px;
}


li {
    margin-bottom: 10px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


th {
    background-color: #333;
    color: #fff;
    padding: 8px;
    text-align: left;
}


td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border: 1px solid #ccc;
}
