*{
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    color: #000000;
    margin-top: 20;
    margin-bottom: 20;
}

h2{
    border: 1px solid black;
    background-color: #000000;
    color: white;
}

h3{
    
    color: black;
}

a {
    color : lightskyblue;
}

p {
    font-family: verdana;
    font-size: 25px;
}
